<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="cabecalho">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />

<title>Sistema Vendas de Ingressos TAA</title>

<!-- Bootstrap core CSS -->


<link rel="stylesheet" th:href="@{/css/checkbox.css}" />

<link rel="stylesheet" th:href="@{/css/btcheckbox.css}" />

<!-- Custom styles for this template -->


<link rel="icon" th:href="@{/imagens/icone-teatro-arthur-azevedo.jpg}" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemataa</title>
    <link rel="stylesheet" th:href="@{/assets/img/30830202_2017070128533249_7067325293513408512_n.jpg}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Adamina}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700}">
    <link rel="stylesheet" th:href="@{assets/css/Article-List.css}">
    <link rel="stylesheet" th:href="@{assets/css/Contact-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Features-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Footer-Dark.css}">
    <link rel="stylesheet" th:href="@{assets/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{assets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
    
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemataa</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/https://fonts.googleapis.com/css?family=Adamina}">
    <link rel="stylesheet" th:href="@{/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700}">
    <link rel="stylesheet" th:href="@{/assets/css/Article-List.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Contact-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Features-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Footer-Dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemataa</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistemataa</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    
</head>

<body>
	<header th:fragment="barra-navegacao">

		<!-- barra superior -->
		<div class="topo-pagina" />
		<!-- Static navbar -->
		<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color:#121112;">
                <div class="container"><a class="navbar-left" th:href="@{/}" style="font-family:Adamina, serif;color:#ffcc00;" >  <img alt="logo" height= 50px th:src="@{/imagens/taa-logo2.png}" class="img-responsive navbar-left"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/categoria/pesquisa}">Eventos</a></li>
<!--                             <li class="dropdown"> -->
<!-- 						   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  -->
<!-- 						      aria-haspopup="true" aria-expanded="false">Relatórios  -->
<!-- 						        <span class="caret"></span> -->
<!-- 						   </a> -->
						
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li><a data-th-href="@{/relatorios/Livros/pdf}">Relação de Livros</a></li> -->
<!-- 								<li><a data-th-href="@{/relatorios/Categorias/pdf}">Categoria de Livros</a></li> -->
<!-- 								<li><a data-th-href="@{/relatorios/Editoras/pdf}">Editoras de Livros</a></li> -->
<!-- 								<li><a data-th-href="@{/relatorios/Autores/pdf}">Autores de Livros</a></li> -->
<!-- 							</ul> -->
<!-- 						</li> -->
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Ingressos</a>
                                <div class="dropdown-menu" role="menu">
<!--                                 <a class="dropdown-item" role="presentation" th:href="@{/livro/form}">Novo Pedido</a> -->
                                <a class="dropdown-item" role="presentation" th:href="@{/livro/pesquisa}">Lista de Pedidos</a>
<!--                                 <a class="dropdown-item" role="presentation" href="#">Cancelar Pedido</a> -->
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline mr-auto" target="_self">
<!--                             <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div> -->
                        </form><span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" th:href="@{/minhaConta}">Novo Usuario</a></div>
                        <ul class="nav navbar-nav navbar-right">
						<li><a class="btn btn-light action-button" href="#"> Seja bem vindo: 
						      <span sec:authentication="name">Visitante</span></a>
						</li>
						<li>
						 
						</li>
					</ul>
					
					 <form th:action="@{/logout}" method="POST">
						     <button type="submit" class="btn btn-light action-button" > 
						     <span class="glyphicon glyphicon-new-window" title="Sair">Sair</span></button>
						  </form>  
        </div>
        </nav>
	</header>
	<!-- fragment th:barra-navegacao -->


	<!-- 	<div th:fragment="caixa-exclusao"> -->
	<!-- 	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"> -->
	<!--   <div class="modal-dialog" role="document"> -->
	<!--     <div class="modal-content"> -->
	<!--       <div class="modal-header"> -->
	<!--         <h5 class="modal-title">Excluir Item</h5> -->
	<!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
	<!--           <span aria-hidden="true">&times;</span> -->
	<!--         </button> -->
	<!--       </div> -->
	<!--       <div class="modal-body"> -->
	<!--         <p>Deseja realmente excluir este item?</p> -->
	<!--       </div> -->
	<!--       <div class="modal-footer"> -->
	<!--       <a th:href="@{/livro/deleta{id}(id=${livro.id})}"  method="DELETE" class="btn btn-sm"> <span -->
	<!-- 										class="btn btn-danger">Excluir</span> </a> -->

	<!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button> -->
	<!--       </div> -->
	<!--     </div> -->
	<!--   </div> -->
	<!-- </div> -->
	<!-- </div> -->
	<!-- 	caixa exclucao livro  -->

	<!-- 	<div th:fragment="caixa-exclusao-categoria-livro"> -->
	<!-- 	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"> -->
	<!--   <div class="modal-dialog" role="document"> -->
	<!--     <div class="modal-content"> -->
	<!--       <div class="modal-header"> -->
	<!--         <h5 class="modal-title">Excluir Categoria</h5> -->
	<!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
	<!--           <span aria-hidden="true">&times;</span> -->
	<!--         </button> -->
	<!--       </div> -->
	<!--       <div class="modal-body"> -->
	<!--         <p>Deseja realmente excluir esta Categoria?</p> -->
	<!--       </div> -->
	<!--       <div class="modal-footer"> -->
	<!--       <a th:href="@{/categoria/deleta{id}(id=${categorialivro.id})}"  method="DELETE" class="btn btn-sm"> <span -->
	<!-- 										class="btn btn-danger">Excluir</span> </a> -->

	<!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button> -->
	<!--       </div> -->
	<!--     </div> -->
	<!--   </div> -->
	<!-- </div> -->
	<!-- </div> -->
	<!-- 	caixa exclucao categoria  -->

	<!-- <div th:fragment="caixa-exclusao-editora"> -->
	<!-- 	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"> -->
	<!--   <div class="modal-dialog" role="document"> -->
	<!--     <div class="modal-content"> -->
	<!--       <div class="modal-header"> -->
	<!--         <h5 class="modal-title">Excluir Editora</h5> -->
	<!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
	<!--           <span aria-hidden="true">&times;</span> -->
	<!--         </button> -->
	<!--       </div> -->
	<!--       <div class="modal-body"> -->
	<!--         <p>Deseja realmente excluir esta Categoria?</p> -->
	<!--       </div> -->
	<!--       <div class="modal-footer"> -->
	<!--       <a th:href="@{/editora/deleta{id}(id=${editora.id})}"  method="DELETE" class="btn btn-sm"> <span -->
	<!-- 										class="btn btn-danger">Excluir</span> </a> -->

	<!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button> -->
	<!--       </div> -->
	<!--     </div> -->
	<!--   </div> -->
	<!-- </div> -->
	<!-- </div> -->
	<!--  	caixa exclucao categoria  -->

	<div th:fragment="scripts-js">
		<script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	</div>

	<div th:fragment="mybookstore-js">
		<script th:src="@{/javascript/mybookstore.js}"></script>
		<script th:src="@{/javascript/mults.js}"></script>
	</div>
</body>

</html>
